*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  height: 534px;
  padding: 133px 30px;
  gap: 30px;
}

.result__video-container {
  margin-bottom: 16px;
  width: 711px;
  height: 456px;
}

.result__video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  height: 100%;
  overflow-y: auto;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.content__details {
  width: 100%;
  max-height: 434px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
