*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 1140px;
  gap: 30px;
}

.result__video-container {
  margin-bottom: 16px;
  width: 711px;
  height: 356px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  overflow-y: auto;
  position: relative;
  height: 300px;
  width: 400px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 193px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__details {
  width: 100%;
  min-height: 534px;
  min-width: 399px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.preloader {
  position: absolute;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #fff;
  padding: 0 0 8px 0;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  color: #fff;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__video-card {
  font-family: "Oswald", sans-serif;
  color: #fff;
}

.content__video-card-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  max-width: 200px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__label {
  display: inline-flex;
  width: fit-content;
  align-items: center;
}

.button {
  border: 1px solid currentColor;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  padding: 6px 74px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: end;
}

.more-button {
  width: 100%;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  border: 1px solid transparent;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
  background-color: transparent;
  appearance: none;
  color: #fff;
  width: 225px;
  text-overflow: ellipsis;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

/* Работа с фокусом для кнопок, полей и чекбоксов */

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  margin-right: 5px;
  display: flex;
  cursor: pointer;
}

.search-form {
  text-decoration: inherit;
}

.button {
  text-decoration: inherit;
  outline: none;
}

.content__card-link {
  text-decoration: inherit;
  background-color: inherit;
  outline: none;
  display: block;
  margin: 2px;
}

/* Для чекбоксов */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin: auto;
}

/* Для лейблов */
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* Для кнопок */
.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* Работа с фокусом карточек */
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

/* Окно ошибки */
